<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
		Backend
		</title>
		{% include "partials/head.html" %}
	</head>
	<body class="login">
		
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">

						<div class="login__inner">
							<h1 class="login__title">
							Welcome
							</h1>
							
							<form method="post" class="login__form">
								<div class="form-row">
									<div class="col-12">
										<label>
										Email
										</label>
										<input type="text" name="email" placeholder="name@email.com" class="focus-first">
									</div>
									<div class="col-12">
										<label>
										Password
										</label>
										<input type="password" name="password" placeholder="********">
									</div>
									<div class="col-12">
										<input type="submit" value="Login">
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>

	</body>
</html>

