<!DOCTYPE html>

<!-- Add a goal -->
<html lang="en">
<head>
	<title>
	Unihack
	</title>
		{% include "./partials/head.html" %}
</head>

<body class="index">

	{% include "./partials/nav-bar.html" %}
	<section class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- <h1 class="main__title">
						Why don't you join these goals?
					</h1> -->
					</br>
					<div id="typer">foo</div>
					</br>
					<script src='/js/jquery.typer.js'></script>
			    <script>
			        var win = $(window),
			            foo = $('#typer');

			        foo.typer(["Why don't you join these goals?", "C'mon you gotta learn how to swim!", "Prehaps learn paragliding?"]);

			        // unneeded...
			        win.resize(function(){
			            var fontSize = Math.max(Math.min(win.width() / (1.25 * 7.5), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

			            foo.css({
			                fontSize: fontSize * .33 + 'px'
			            });
			        }).resize();
			    </script>
					</br>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{% for goal in goals %}
				<div class="col-md-3">
					<a href="{{paths.siteUrl}}/goal/{{goal._id}}" class="card">
						<h3 class="card__title">
							{{goal.title}}
						</h3>
						<p class="card__description">
							{{goal.description}}
						</p>
	        </a>
				</div>
				{% else %}
				<h2 style="text-align:center;">No goals found. Seems like we're stuck with a bunch of lazy bums.</h2>
				{% endfor %}
			</div>
		</div>
	</section>

	{% include "./partials/create-goal.html" %}

</body>
</html>
{% include "./partials/footer.html" %}
