<!DOCTYPE html>

<!-- Add a goal -->
<html lang="en">
<head>
		<link href='https://fonts.googleapis.com/css?family=Hind:600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css">

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


		<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>

		<script src='/js/jquery.typer.js'></script>
    <script>
        var win = $(window),
            foo = $('#typer');

        foo.typer(["Why don't you join these goals?"]);

        // unneeded...
        win.resize(function(){
            var fontSize = Math.max(Math.min(win.width() / (1 * 10), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

            foo.css({
                fontSize: fontSize * .8 + 'px'
            });
        }).resize();
    </script>

		<script type="text/javascript">
		(function() {

			function init() {
				$('.unslider').unslider({
					autoplay: true
				});
			}

			$(window).ready(init);
		})();
	</script>
</head>

<body class="index">

	<section class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- <h1 class="main__title">
						Why don't you join these goals?
					</h1> -->
					<div id="typer"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<h3 class="card__title">
						{{user}}
							Monday morning fitness class
						}
						}
						</h3>
						<p class="card__description">
							Meetup at the Caulfield gym to to burn all those calories.
						</p>
	        </div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<h3 class="card__title">
							Unihack hackathon
						</h3>
						<p class="card__description">
							Have the guts to make an app in 24 hours? then join us!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
