{% include "./partials/head.html" %}

<!-- Add a goal -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal: |</title>
    <!-- + {{fields.page_content.name}} ? want the page to be called Goal: goal_name-->


</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>

            <div class="col-md-2"></div>

            </div>
        </div>
    </div>
</div>


</body>
</html>

{% include "./partials/footer.html" %}

