{% include "./partials/head.html" %}

<!-- Add a goal -->
<html lang="en">
<head>
    <title>
    Unihack goal
    </title>
        {% include "./partials/head.html" %}
</head>

<body class="goal">

	{% include "./partials/nav-bar.html" %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-content">
					<div class="main-content__info">
						<h2>
						{{goal.title}}
						</h2>
						<p>
						{{goal.description}}
						</p>
					</div>
					<div class="main-content__comments">
						<h3 class="comments__title">
						Discussion
						</h3>
						{{user}}
						{% if user.facebook_id %}
						<form class="comments__form">
							<textarea name="comment">
							</textarea>
							<input type="hidden" value="{{user._id}}" name="user_id">
							<input type="submit" value="Submit comment">
						</form>
						{% endif %}
						<div class="comments">
						{% for comment in comments %}
						<div class="comment">
							<span class="comment__author">
							{{comment.author}}
							</span>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

{% include "./partials/footer.html" %}

