{% include "./partials/head.html" %}

<!-- Add a goal -->
<html lang="en">
<head>
    <title>
    Unihack goal
    </title>
        {% include "./partials/head.html" %}
</head>

<body class="goal">

	{% include "./partials/nav-bar.html" %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-content">
					<div class="main-content__info">
						<h2>
						{{goal.title}}
						</h2>
						<p>
						{{goal.description}}
						</p>
					</div>
					<div class="main-content__comments">
						<h3 class="comments__title">
						Discussion
						</h3>
						{% if user %}
						<form class="comments__form" method="post">
							<h4 class="form__title">
							Add comment
							</h4>
							<textarea name="comment"></textarea>
							<input type="hidden" value="{{user._id}}" name="id">
							<input type="hidden" value="{{user.name}}" name="name"> 
							<input type="submit" value="Submit comment">
						</form>
						{% endif %}
						<div class="comments">
						{% for comment in comments.comment %}
						<div class="comment">
							<span class="comment__date">
							{{comment.date_created}}
							</span>
							<span class="comment__author">
							{{comment.author}}
							</span>:
							<span class="comment__comment">
							{{comment.comment}}
							</span>
						</div>
						{% else %}
						<div style="font-style:italic;font-size:18px;">
						No comments yet
						</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

{% include "./partials/footer.html" %}

