


.main {
	padding:30px;
	&__title {
		margin:10px 0;
		margin-bottom:20px;
		font-weight:700;
		text-align:center;
	}
}

.card {
	display: block;
	color:#333;
	background-color:#FFF;
	border:#EEE solid 1px;
	border-radius:16px;
  margin-bottom: 20px;

  box-shadow: 0px 0px 0px 3px transparent;

  transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530);

	&__title {
		text-align:center;
		padding:15px 10px;
		margin:0;
		width:100%;
		font-size:22px;
		font-weight:700;
		border-bottom:#EEE solid 1px;
	}

	&__description {
		padding:20px 10px;
	}

	&:hover, &:active {
		outline:none;
		box-shadow: 0px 0px 0px 3px rgb(241,196,15);
	}
}
