

<header class="app-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<a href="/">
					<h1 class="app-header__title">
						Trendin
					</h1>
				</a>

				<div class="form-group">
					<button class="">
						<a href="https://news.ycombinator.com/item?id=10071508">Yo Yo</a>
					</button>
				</div>

			</div>
		</div>
	</div>
</header>
