

<header class="app-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<a href="/">
					<h1 class="app-header__title">
						Trendin
					</h1>
				</a>
				
				<div class="form-group">
					<button class="cta">
						Start Taggin
					</button>
				</div>
				
			</div>
		</div>
	</div>
</header>