<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/css/holoverse.css'>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
  <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>
  <script src="/js/holoverse.js"></script>
</head>
<body>

<div class="main app">
	<div class="cube">
		<figure class="view slave right"></figure>
		<figure class="view slave left"></figure>
		<figure class="view top"></figure>
		<figure class="view slave bottom"></figure>
	</div>
</div>

</body>